.button {
  display: inline-block;
  line-height: 1.5;
  color: inherit;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: rgba(#000000, 0.3);
  color: #f1f1f1;
  border: 1px solid transparent;
  padding: 6px 12px;
  border-radius: 10px;
  min-height: 40px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font: inherit;

  &:hover,
  &:focus {
    background-color: rgba(#000000, 0.4);
  }

  &:active {
    opacity: 0.6;
  }

  &:disabled {
    background-color: rgba(#000000, 0.2);
    pointer-events: none;

    &:active {
      opacity: 1;
    }
  }
}